
h1 {
    color: #8b0347; 
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
}
body {
    background:#ccdfe4;
}
.bloque { 
    background: rgb(171, 205, 207);
    height: 700px;
    width: 700px;
    margin: 120px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja { 
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 10px dotted #8b0347;
    background:#8b0347 ;
    color: whitesmoke;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 35px;
}




