:root {
  --dark-color: #1a1a1a;
  --white-color: #ffffff;
  --light-grey-color: #f5f5f5;
  --brown-color: rgb(105, 77, 11);
  --light-green: rgba(204, 224, 183, 0.897);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.bgGreen {
  background-color: var(--light-green);
}
.bgLight {
  background-color: var(--white-color);
}
.bgLightGrey {
  background-color: var(--light-grey-color);
}

.colorDark {
  color: var(--dark-color) !important;
}

h1 {
  font-size: 66px;
  font-weight: 600px;
  line-height: 80px;
}

h2 {
  font-size: 48px;
  margin-bottom: 30px;
  color: rgb(11, 105, 58);
}

h3 {
  font-size: 25px;
  color: rgb(11, 105, 58);
}

p {
  font-size: 18px;
  color: rgb(105, 77, 11);
  line-height: 1.8;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

section {
  padding: 120px 0;
}

.bg-light-grey {
  background-color: #f5f5f5;
}

.bg-primary {
  background-color: var(--light-green) !important;
}

.bg-secondary {
  background-color: var(--light-grey-color) !important;
}
.topmargin-xs {
  margin-top: 15px;
}
.topmargin-sm {
  margin-top: 30px;
}
.topmargin-lg {
  margin-top: 60px;
}
.mr-3 {
  margin-left: 5px;
}
.mb-4 {
  margin-bottom: 4px;
}
.btn {
  font-size: 14px;
  padding-top: 15px 26px;
  min-width: 160px;
  border-radius: 2px;
  display: inline-block;
}

.btn-1 {
  min-width: 0;
}
.btn-1 a{
  font-size: medium;
  color: rgb(11, 105, 58);
  text-decoration: none;
}

.btn-light {
  background-color: rgba(174, 189, 161, 0.897);
  color: white;
  font-weight: bold;
  border: 2px solid rgba(174, 189, 161, 0.897);
}

.text-dark {
  color: black;
}

.navbar {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px;
}
.nav-link {
  color: rgb(11, 105, 58);
}
.nav-link:hover {
  color: darkgreen;
  font-weight: bold;
}

.logo-brand {
  min-width: 160px;
  max-width: 180px;
}

.navbar-toggler {
  font-size: 40px;
}
.navbar-toggler:focus {
  outline: none;
}
#hero {
  background-image: url("hero.jpg");
  background-size: cover;
  margin-top: 100px;
  padding-top: 90px;
  min-height: 700px;
  color: white;
}

#hero p {
  color: white;
}

.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
}

.portfolio-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 2px;
}

.portfolio-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.portfolio-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.portfolio-details {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 1020;
}

.portfolio-details a h2,
.portfolio-details a p {
  color: white;
}

.portfolio-details h2 {
  margin-bottom: 0px;
}

.multimedia-container {
  text-align: center;
}

.member-container {
  position: relative;
  margin: 10px;
}

.member-details {
  position: absolute;
  color: rgb(246, 248, 245);
  font-weight: bold;
  bottom: 20px;
  left: 20px;
}

ol {
  list-style: none;
}
.card-ej {
  margin: 40px 80px;
}

.card-title-bold {
  font-weight: bold;
}

.text-green {
  color: rgb(11, 105, 58);
}

footer {
  padding: 80px 0;
  text-align: center;
  color: var(--light-green);
  display: flex;
  overflow: hidden;
}

#CR {
  color: var(--brown-color);
}
footer a {
  color: var(--brown-color);
}

footer a:hover {
  color: var(--brown-color);
  font-weight: bold;
}

#local {
  color: rgb(11, 105, 58);
}
.lead {
  font-size: 18px;
  line-height: 30px;
  color: var(--brown-color);
  font-weight: bold;
  margin: 0;
  padding: 0;
  float: left;
}
.form-group {
  border: 1px solid lightslategray;
}
.error {
  /* display: none; */
  color: red;
  font-size: bold;
  list-style: none;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 40px;
    line-height: normal;
  }
}

@media (max-width: 1199.98px) {
  .container {
    max-width: none;
  }

  .multimedia-container a {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .multimedia-container a {
    display: none;
  }
}

@media (max-width: 500px) {
  .multimedia-container iframe {
    display: none;
  }

  .multimedia-container a {
    display: inline;
  }
}
